body {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}

.select-style {
    display: inline-flex;
    /*border: 1px solid #ccc;*/
    border-bottom: 3px solid #ff8c00;

    /*border-radius: 3px;*/
    overflow: hidden;
    background: transparent;

}

.select-style select {
    font: inherit;
    padding: 5px 4px;

    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:hover {
    cursor: pointer;
}

.select-style select:focus {
    outline: none;
}

.select-style option {
    font: inherit;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    border-bottom: 1px solid grey;
    padding-top: 20px;
    z-index: 20;
}

.content {
    margin-top: 100px;
}

.chartTitle {
    text-align: center;
    margin-bottom: 20px;
}

.year {
    display: inline-block;
}

.year span {
    margin: 0 0.25em;

}

.nav-button {
    color: #ff8c00;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    background: transparent;
    padding: 0 .5em;
    cursor: pointer;

    border-bottom: 3px solid #ff8c00;
    padding-bottom: 4px;
}

.nav-button:disabled {
    cursor: auto;
    color: #dedede;
    font-weight: normal;
    border: none;
}

.nav-button:focus {
    outline: none;
}

.chart {
    position: relative;
    margin: 0 auto;
}

#map .state {
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
}
#map .state:hover{
    fill-opacity:0.5;
}

#map .state.selected, #stackedBar .select-rect {
    stroke: black;
    stroke-width: 2;
}


#tooltip {
    position: absolute;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 2px;
    pointer-events: none;
    z-index: 10;
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:50px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
}



.bar {
  fill: steelblue;
}

.axis {
    font-family: inherit;
    font-size: 12px;
    fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
  display: none;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    text-align: left;

    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-size: 10px;
}

/* Creates a small triangle extender for the tooltip */
.toolTip:after {
    box-sizing: border-box;
    display: inline-block;
    left: -8px;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25C0";
    position: absolute;
    text-align: left;
}
